<style>
    /* .card {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin-left: 32px;
        margin-top: 15px;
    } */
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: #fbfbfb;
    }


    /* Add rounded corners to the top left and the top right corner of the image */
    img {
        border-radius: 5px 5px 0 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }

    .div-scroll {
        overflow: auto;
        height: 800px;
    }


    .divMenu {
        border: 0px solid;
        padding: 10px;
        box-shadow: 4px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .runningText {
        color: #FFFFFF;
        font: normal 18px arial, sans-serif;
        background-color: #005eef;
        border: #000000 0px solid;
        height: 42px;
        /* width: 70%; */
        margin: 0 auto;
        padding: 4px 5px 3px 5px;
        -moz-border-radius: 17px;
        -webkit-border-radius: 17px;
        border-radius: 17px;
        -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
        -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
    }

    .marquee {
        /* height: 50px;
        overflow: hidden;
        position: relative;
        background: #fefefe;
        color: #333;
        border: 1px solid #4a4a4a; */
        overflow: hidden;
        position: relative;
        color: #FFFFFF;
        font: normal 24px arial, sans-serif;
        background-color: #00a8ef;
        border: #000000 0px solid;
        height: 60px;
        /* width: 70%; */
        margin: 0 auto;
        padding: 4px 5px 3px 5px;
        -moz-border-radius: 17px;
        -webkit-border-radius: 17px;
        border-radius: 13px;
        -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
        -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
    }

    .marquee p {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -moz-animation: scroll-left 5s linear infinite;
        -webkit-animation: scroll-left 2s linear infinite;
        animation: scroll-left 40s linear infinite;
    }

    @-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
        }

        100% {
            -moz-transform: translateX(-100%);
        }
    }

    @-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(100%);
        }

        100% {
            -webkit-transform: translateX(-100%);
        }
    }

    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }

        100% {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }

    .box-part {
        background: #FFF;
        border-radius: 0;
        padding: 9px 10px;
        margin: 30px 0px;
        box-shadow: 1px 1px 2px 0 #0097ef;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- <div class="runningText"> -->
            <!-- <div class="ticker-wrap">
                    <div class="ticker-move">
                        <div class="ticker-item">Selamat Datang dan Selamat Menikmat Hidangan Kami</div>
                    </div>
                </div> -->
            <div class="marquee">
                <p style="top:3px;"> Selamat Datang dan Selamat Menikmat Hidangan Kami </p>
            </div>
            <!-- </div> -->
            <br>
            <div class="box"><br>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h3> <i style="color:#fb387e" class="fa fa-chevron-circle-right" aria-hidden="true"></i>&nbsp;Kantin Savory</h3>
                        </div>
                        <div class="col-md-4 text-center">
                            <h3> <i style="color:#fb387e" class="fa fa-chevron-circle-right" aria-hidden="true"></i>&nbsp;Catering : KLLAI</h3>
                            <p>PIC: Azizah (09743847889)</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h3><i style="color:#fb387e" class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{currentDate | date:'dd-MM-yyyy'}}</h3>
                        </div>
                    </div>
                    <hr style="border: 1px solid #cf4448">
                    <div class="row">
                        <div class="col-md-8 divMenu">
                            <div>
                                <h3 style="margin-left:32px;font-size: xx-large"><i class="fa fa-book" aria-hidden="true" style="color:#fb387e;"></i>&nbsp;Menu Hari Ini</h3>
                            </div>
                            <div class="col-md-3">
                                <div class="box-part text-center">
                                    <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">

                                    <div class="title">
                                        <h3>Ayam Penyet</h3>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Info Kalori : 120 kl</li>
                                            <li>Info Alergi : gatal-gatal</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box-part text-center">
                                    <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">

                                    <div class="title">
                                        <h3>Ayam Penyet</h3>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Info Kalori : 120 kl</li>
                                            <li>Info Alergi : gatal-gatal</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box-part text-center">
                                    <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">

                                    <div class="title">
                                        <h3>Ayam Penyet</h3>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Info Kalori : 120 kl</li>
                                            <li>Info Alergi : gatal-gatal</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box-part text-center">
                                    <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">

                                    <div class="title">
                                        <h3>Ayam Penyet</h3>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Info Kalori : 120 kl</li>
                                            <li>Info Alergi : gatal-gatal</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box-part text-center">
                                    <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">

                                    <div class="title">
                                        <h3>Ayam Penyet</h3>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Info Kalori : 120 kl</li>
                                            <li>Info Alergi : gatal-gatal</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box-part text-center">
                                    <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">

                                    <div class="title">
                                        <h3>Ayam Penyet</h3>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Info Kalori : 120 kl</li>
                                            <li>Info Alergi : gatal-gatal</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box-part text-center">
                                    <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">

                                    <div class="title">
                                        <h3>Ayam Penyet</h3>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Info Kalori : 120 kl</li>
                                            <li>Info Alergi : gatal-gatal</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="box-part text-center">
                                    <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">

                                    <div class="title">
                                        <h3>Ayam Penyet</h3>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>Info Kalori : 120 kl</li>
                                            <li>Info Alergi : gatal-gatal</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <!-- <div class="card col-md-3">
                                <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">
                                <div class="container">
                                    <h4><b>John Doe</b></h4>
                                    <p>Architect & Engineer</p>
                                </div>
                            </div>
                            <div class="card col-md-3">
                                <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">
                                <div class="container">
                                    <h4><b>John Doe</b></h4>
                                    <p>Architect & Engineer</p>
                                </div>
                            </div>
                            <div class="card col-md-3">
                                <img src="./../images/menu-makanan/menu1.jpg" alt="Avatar">
                                <div class="container">
                                    <h4><b>John Doe</b></h4>
                                    <p>Architect & Engineer</p>
                                </div>
                            </div> -->

                        </div>
                        <div class="col-md-4">
                            <div class="panel panel-kuning">
                                <div class="panel-heading">
                                    <h3 class="box-title">Informasi Seputar Kantin</h3>
                                </div>
                                <div class="panel-body">
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                            <li data-target="#myCarousel" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img src="./../images/menu-makanan/menu2.jpg" alt="Los Angeles" style="width:100%;">
                                            </div>

                                            <div class="item">
                                                <img src="./../images/menu-makanan/menu3.jpg" alt="Chicago" style="width:100%;">
                                            </div>

                                            <div class="item">
                                                <img src="./../images/menu-makanan/menu1.jpg" alt="New york" style="width:100%;">
                                            </div>
                                        </div>

                                        <!-- Left and right controls -->
                                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-success">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Counting Canteen</h3>

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <div class="progress-group">
                                        <span class="progress-text">Employee</span>
                                        <span class="progress-number"><b>160</b></span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-green" style="width: 40%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">Third Party</span>
                                        <span class="progress-number"><b>310</b></span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-blue" style="width: 80%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">Visitor</span>
                                        <span class="progress-number"><b>480</b></span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="col-md-2">
                            <div class="panel panel-biru">
                                <div class="panel-heading">
                                    <h3 class="box-title">Stock Delivery</h3>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item text-center">200</span></li>
                                        <li class="list-group-item text-center">400</span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box box-success">
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nip</th>
                                                <th>Nama Karyawan</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Ayam Penyet</td>
                                                <td><span class="label label-success">Menu Makanan</span></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Melon</td>
                                                <td><span class="label label-success">Buah</span></td>

                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Tahu</td>
                                                <td><span class="label label-success">Menu Tambahan</span></td>


                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Sayur Bayam</td>
                                                <td><span class="label label-success">Sayur</span></td>


                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<script>
    $('#tglSurat').datepicker({
        autoclose: true
    });
    $('#tglPemberianData').datepicker({
        autoclose: true
    });
</script>
<!-- Info boxes -->

<!-- <div class="col-md-12">
        
      </div> -->