<div class="content Loading loading-position">
    <div>
        <p class="text-center">
            <img class="blink-image" src="./../images/loading.gif">
        </p>
    </div>
</div>

<div class="page-form">
    <section class="content-header">
        <h1>
            Master Menu
            <!-- <small>advanced tables</small> -->
        </h1>
    </section>
    <section class="content">
        <div class="box box-info">

            <div class="box-header">
                <!-- <h3 class="box-title">Table</h3> -->
                <form class="form-inline pull-right">
                    <div class="form-group">
                        <label>Search</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead class="bg-primary">
                            <tr>
                                <th>No</th>
                                <th>Nama Menu</th>
                                <th>Jenis Menu</th>
                                <th>Info Kalori</th>
                                <th>Info Alergi</th>
                                <th>File</th>
                                <th>Nama Vendor</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="item in listMenuMakanan |filter:search|itemsPerPage:pageSize" current-page="currentPage">
                                <td>{{$index + 1}}</td>
                                <td>{{item.namaMenu}}</td>
                                <td><span class="label {{item.cssMenu}}">{{item.jenisMenu}}</span></td>
                                <td>
                                    {{item.infoKalori}}
                                </td>
                                <td>
                                    {{item.infoAlergi}}
                                </td>
                                <td>
                                    <button type='button' class='btn btn-edit btn-sm' style="border-radius:50%;" uib-tooltip="List File" data-toggle="modal" data-target="#myModalFile" data-backdrop="static" data-keyboard="false" ng-click="getListFile(item.id, item.bulan, item.tahun)">
                                        <span class='fa fa-list'></span>
                                    </button>
                                </td>
                                <td>
                                    {{item.namaVendor}}
                                </td>
                                <td>
                                    <button type='button' class='btn btn-info btn-sm' style="border-radius:50%;" uib-tooltip="Edit" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" ng-click="eventClickEdit(item.id, item.namaLaporan)">
                                        <span class='fa fa-pencil'></span>
                                    </button>
                                    <button type='button' class='btn btn-danger btn-sm' style="border-radius:50%;" uib-tooltip="Hapus" ng-click="eventClickDelete(item.id, item.namaLaporan)">
                                        <span class='fa fa-trash'></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls class="pull-right" boundary-links="true" direction-links="true">
                    </dir-pagination-controls>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <a href="" class="btn btn-sm btn-info btn-flat pull-left" data-toggle="modal" ng-click="eventClickAdd()" ng-hide="akses" data-target="#myModal" data-backdrop="static" data-keyboard="false">Tambah Data</a>
            </div>
            <!-- /.box-footer -->
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 50%">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <!-- <b>Tambah Master Menu</b> -->
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-info">

                            <div class="box-header">
                                <h3 class="box-title">Tambah Master Menu</h3>
                            </div>
                            <div class="box-body">
                                <form class="form-horizontal" name="myForm">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Menu</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" ng-model="form.id" ng-hide="true">
                                            <input type="text" class="form-control" ng-model="form.namaMenu" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Jenis Menu</label>
                                        <div class="col-md-8">
                                            <select class="form-control" ng-model="form.jenisMenu" required ng-options="item.id as item.namaJenisMenu for item in master.jenisMenu"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Info Kalori</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="form.infoKalori" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-hide="divPilihanJawaban">
                                        <label class="col-md-4 control-label">Info Alergi</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" ng-model="form.infoAlergi"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Nama Vendor</label>
                                        <div class="col-md-8">
                                            <select class="form-control" ng-model="form.namaVendor" required ng-options="item.id as item.namaVendor for item in master.vendor"></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">File</label>
                                        <div class="col-md-8">
                                            <div ng-show="modeAdd">
                                                <input type="file" ngf-select ng-model="form.file" name="file" accept="" ngf-max-size="50MB" ngf-model-invalid="errorFile">
                                                <i ng-show="myForm.file.$error.required">*required</i>
                                                <br>
                                                <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 50M</i>
                                                <span class="progress" ng-show="form.file.progress >= 0">
                                                    <div style="width:{{form.file.progress}}%" ng-bind="form.file.progress + '%'"></div>
                                                </span>
                                                <span ng-show="form.file.result">Upload Successful</span>
                                                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                            </div>
                                            <div ng-show="modeEdit">
                                                <input type="file" ngf-select ng-model="form.file" name="file" accept="" ngf-max-size="50MB" ngf-model-invalid="errorFile" ng-show="editFile">
                                                <table class="table">
                                                    <tr ng-repeat="n in listFile">
                                                        <td>{{n.judulDokumen}}</td>
                                                        <td>
                                                            <button type='button' class='btn btn-edit btn-sm' ng-click="showEditFile()">
                                                                <span class='fa fa-pencil'></span>
                                                            </button>
                                                            <button type='button' class='btn btn-delete btn-sm' ng-click="eventClickHapusFile(item.id, n.id)">
                                                                <span class='fa fa-times-circle'></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-delete" data-dismiss="modal" ng-click="eventClickCloseModal()">Close</button>
                        <button type="button" class="btn btn-save" ng-disabled="!myForm.$valid" ng-show="btnSave" ng-click="eventClickSave(form.file)">Save</button>
                        <button type="button" class="btn btn-save" ng-disabled="!myForm.$valid" ng-show="btnUpdate" ng-click="eventClickUpdate(form.file)">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>