<div class="content Loading">
    <div>
        <p class="text-center">
            <img class="blink-image loading-position" src="./../images/loading.gif">
        </p>
    </div>
</div>
<div class="page-form">
    <section class="content-header">
        <h1>
            Master Menu
            <!-- <small>advanced tables</small> -->
        </h1>
    </section>
    <section class="content">
        <div class="box box-info">

            <div class="box-header">
                <!-- <h3 class="box-title">Table</h3> -->
                <form class="form-inline pull-right">
                    <div class="form-group">
                        <label>Search</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead class="bg-default">
                            <tr>
                                <th class="text-center">No</th>
                                <th class="text-center">Nama Menu</th>
                                <th class="text-center">Menu Parent</th>
                                <th class="text-center">No Urut</th>
                                <th class="text-center">Level Menu</th>
                                <th class="text-center">Tipe Menu</th>
                                <th class="text-center judul-action" style="width:30% !important;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="item in listMenu |filter:search|itemsPerPage:pageSize" current-page="currentPage">
                                <td>{{$index + 1}}</td>
                                <td>{{item.namaMenu}}</td>
                                <td>{{item.menuParent}}</td>
                                <td>{{item.noUrut}}</td>
                                <td>{{item.levelMenu}}</td>
                                <td>{{item.tipeMenu}}</td>
                                <td class="text-center">
                                    <button type='button' class='btn btn-primary btn-sm' style="border-radius:50%;" uib-tooltip="Edit" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" ng-click="eventClickEdit(item.id, item.namaLaporan)">
                                        <span class='fa fa-pencil'></span>
                                    </button>
                                    <button type='button' class='btn btn-danger btn-sm' style="border-radius:50%;" uib-tooltip="Hapus" ng-click="eventClickDelete(item.id, item.namaLaporan)">
                                        <span class='fa fa-trash'></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls class="pull-right" boundary-links="true" direction-links="true">
                    </dir-pagination-controls>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
           <div class="box-footer clearfix">
               <a href="" class="btn btn-sm btn-erlinski btn-flat pull-left" data-toggle="modal" ng-click="eventClickAdd()" data-target="#myModal" data-backdrop="static" data-keyboard="false">Tambah Data</a>
           </div>
            <!-- /.box-footer -->
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 70%">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <!-- <b>Tambah Master Menu</b> -->
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-info">

                            <div class="box-header">
                                <h3 class="box-title">Tambah Master Menu</h3>
                            </div>
                            <div class="box-body">
                                <form class="form-horizontal" name="myForm">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Nama Menu</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" ng-model="form.namaMenu" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Url</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" ng-model="form.url" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Menu Parent</label>
                                            <div class="col-md-8">
                                                <select class="form-control" ng-model="form.menuParent" ng-options="item.id as item.namaMenu for item in menu.master.menuParent">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">No Urut</label>
                                            <div class="col-md-8">
                                                <input type="number" class="form-control" ng-model="form.noUrut" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Level Menu</label>
                                            <div class="col-md-8">
                                                <select class="form-control" ng-model="form.levelMenu" ng-options="item as item for item in menu.master.level">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Tipe Menu</label>
                                            <div class="col-md-8">
                                                <select class="form-control" ng-model="form.tipeMenu">
                                                    <option value="">-</option>
                                                    <option value="Header">Header</option>
                                                    <option value="Item">Item</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Icon Menu</label>
                                            <div class="col-md-8">
                                                <select class="form-control" ng-model="form.icon">
                                                    <option value="">-</option>
                                                    <option value="fa fa-home">fa fa-home</option>
                                                    <option value="fa fa-square-o">fa fa-square-o </option>
                                                    <option value="fa fa-bar-chart">fa fa-bar-chart </option>
                                                    <option value="fa fa-th">fa fa-th </option>
                                                    <option value="fa fa-circle-o">fa fa-circle-o </option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Target</label>
                                            <div class="col-md-8">
                                                <select class="form-control" ng-model="form.target">
                                                    <option value="">-</option>
                                                    <option value="_self">_self</option>
                                                    <option value="_blank">_blank</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-delete" data-dismiss="modal" ng-click="closeModal()">Close</button>
                        <button type="button" class="btn btn-save" ng-disabled="!myForm.$valid" ng-show="btnSave" ng-click="eventClickSave()">Save</button>
                        <button type="button" class="btn btn-save" ng-disabled="!myForm.$valid" ng-show="btnUpdate" ng-click="eventClickUpdate()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>