<!-- <div class="content Loading">
    <div style="margin-top: 20%;">
        <p class="text-center">
            <img class="blink-image" src="../icons/favicon.ico">
        </p>
        <p class="text-center">Loading......</p>
    </div>
</div> -->
<div class="page-form">
    <section class="content-header">
        <h1>
            Master Running Text
            <!-- <small>advanced tables</small> -->
        </h1>
        <!-- <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i> Home</li>
            <li class="active">Master Running Text</li>
        </ol> -->
    </section>
    <section class="content">
        <div class="row" ng-show="!lapGratifikasi.isEditMode">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <!-- <h3 class="box-title">Table</h3> -->
                        <form class="form-inline pull-right">
                            <div class="form-group">
                                <label>Search</label>
                                <input type="text" ng-model="search" class="form-control" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th class="text-center">No.</th>
                                    <th class="text-center">Message</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center judul-action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="item in listMasterRunningText |filter:search|itemsPerPage:pageSize" current-page="currentPage">
                                    <td class="text-center">{{pageSize * (currentPage-1)+$index+1}}</td>
                                    <td>{{item.message }}</td>
                                    <td class="text-center">{{item.isActive == false ? "Tidak Aktive" : "Aktive"}}</td>
                                    <td class="text-center">
                                        <!-- <button type='button' class='btn btn-info btn-sm' ng-show="crudAkses.updates" ng-click="eventClickEdit(item.id, item.typeSK)">
                                            <span class='fa fa-pencil'></span> Edit
                                        </button> -->
                                        <button type='button' class='btn btn-success btn-sm' data-toggle="modal" ng-click="eventClickEdit(item.id)" ng-hide="akses" data-backdrop="static" data-keyboard="false">
                                            <span class='fa fa-pencil'></span> Edit
                                        </button>
                                        <button type='button' class='btn btn-danger btn-sm' ng-click="eventClickHapus(item.id)">
                                            <span class='fa fa-times-circle'></span> Hapus
                                        </button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <dir-pagination-controls class="pull-right" boundary-links="true" direction-links="true">
                        </dir-pagination-controls>
                        <br>
                    </div>
                    <div class="box-footer clearfix">
                        <a href="" class="btn btn-sm btn-info btn-flat pull-left" data-toggle="modal" ng-click="eventClickAdd()" ng-hide="akses" data-target="#myModal" data-backdrop="static" data-keyboard="false">Tambah Data</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 70%">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <h4 class="modal-title">
                            <b>Form Running Text</b>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Message</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="form.id" ng-hide="true">
                                    <textarea class="form-control" required ng-model="form.message"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Status</label>
                                <div class="col-md-8">
                                    <label class="container-checkbox" style="font-weight:400 !important">
                                        <input type="checkbox" ng-model="form.isActive"><span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="eventClickCloseModal()">Close</button>
                        <button type="button" class="btn btn-save" ng-disabled="!myForm.$valid" ng-click="eventClickSave()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    $('#tanggalDokumen').datepicker({
        autoclose: true
    })

    $("#tahun").datepicker({
        format: " yyyy", // Notice the Extra space at the beginning
        viewMode: "years",
        minViewMode: "years",
        autoclose: true
    });
</script>