<section class="content-header">
    <h1>
        Materi Sosialisasi
        <!-- <small>advanced tables</small> -->
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i> Home</li>
        <!-- <li><a href="#"></a></li> -->
        <li class="active">Materi Sosialisasi</li>
    </ol>
</section>
<section class="content">
    <div class="row" ng-show="!lapGratifikasi.isEditMode">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <!-- <h3 class="box-title">Table</h3> -->
                    <form class="form-inline pull-right">
                        <div class="form-group">
                            <label>Search</label>
                            <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-gcg">
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center">Judul Dokumen</th>
                                <th class="text-center">Jenis</th>
                                <th class="text-center">Nomor Dokumen</th>
                                <th class="text-center">Tanggal Dokumen</th>
                                <th class="text-center">Lampiran</th>
                                <th class="text-center judul-action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="item in listMateriSosialisasi |filter:search|itemsPerPage:10">
                                <td class="text-center">{{ $index+1. }}</td>
                                <td class="text-center">{{item.judulDokumen }}</td>
                                <td class="text-center">{{item.kebijakanDireksi === true ? 'Kebijakan Direksi' : ''}}</td>
                                <td class="text-center">{{item.nomorDokumen}}</td>
                                <td class="text-center">{{item.tanggalDokumen | date:"dd-MM-y"}}</td>
                                <td class="text-center">
                                    <span class="fa fa-download" uib-tooltip="Download File" ng-click="eventClickGetFileUpload(item.id)" style="cursor: pointer;"></span>
                                </td>
                                <td class="text-center">
                                    <!-- <button type='button' class='btn btn-success btn-sm' ng-click="previewPrint()">
                                        <span class='fa fa-search'></span> Preview
                                    </button> -->
                                    <button type='button' class='btn btn-info btn-sm' ng-click="eventClickEdit(item.id)">
                                        <span class='fa fa-pencil'></span> Edit
                                    </button>
                                    <button type='button' class='btn btn-danger btn-sm' ng-click="eventClickHapus(item.id, item.username + ' ( ' + item.email + ' )')">
                                        <span class='fa fa-times-circle'></span> Hapus
                                    </button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <dir-pagination-controls class="pull-right" boundary-links="true" direction-links="true">
                    </dir-pagination-controls>
                    <br>
                    <!-- <div class="form-group">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="eventClickAdd()">
                            <i class="fa fa-plus-square"></i> Tambah Laporan Gratifikasi
                        </button>
                    </div> -->
                    <div class="col-md-12">
                        <button data-toggle="modal" ng-click="eventClickAdd()" data-target="#myModal" type="button" class="btn btn-default btn-circle btn-lg" style="color : white;background: #2d4283; border-color: #2d4283;  box-shadow: 0px 0px 31px 6px rgba(0, 0, 0, 0.17);">
                            <i class="fa fa-plus faa-pulse animated"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="width: 60%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">
                        <b>Form Materi Sosialisasi</b>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Judul Dokumen</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="form.judulDokumen">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Summary</label>
                            <div class="col-md-8">
                                <textarea class="form-control" ng-model="form.summary"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">&nbsp;</label>
                            <div class="col-md-8">
                                <input type="checkbox" ng-model="form.kebijakanDireksi">Kebijakan Direksi
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Nomor Dokumen</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="form.nomorDokumen">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tanggal Dokumen</label>
                            <div class="col-md-8">
                                <div class="input-group date">
                                    <div class="input-group-addon" ng-click="form.tanggalDokumen.$$tanggalDokumenOpened = true" style="cursor: pointer;">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" required="required" ng-required="true" ng-model="form.tanggalDokumen" ng-init="form.tanggalDokumen = form.tanggalDokumen.toDate()" is-open="form.tanggalDokumen.$$tanggalDokumenOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" size="30" name="tanggalDokumen" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Lampiran</label>
                            <div class="col-md-8">
                                <div ng-show="modeAdd">
                                    <input type="file" ngf-select ng-model="form.lampiran" name="file" accept="" ngf-max-size="50MB" required ngf-model-invalid="errorFile">
                                    <i ng-show="myForm.file.$error.required">*required</i>
                                    <br>
                                    <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 50M</i>
                                    <span class="progress" ng-show="form.file.progress >= 0">
                                        <div style="width:{{form.file.progress}}%" ng-bind="form.file.progress + '%'"></div>
                                    </span>
                                    <span ng-show="form.file.result">Upload Successful</span>
                                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                                </div>
                                <div ng-show="modeEdit">
                                    <input type="file" ngf-select ng-model="form.lampiran" name="file" accept="" ngf-max-size="50MB" required ngf-model-invalid="errorFile" ng-show="editFile">
                                    <table class="table">
                                        <tr ng-repeat="f in listFileMateriSosialisasi">
                                            <td>
                                                <label id="fileEdit_">{{f.judulDokumen}}</label>
                                            </td>
                                            <td>
                                                <button type='button' class='btn btn-edit btn-sm' ng-click="showEditFile()">
                                                    <span class='fa fa-pencil'></span>
                                                </button>
                                                <button type='button' class='btn btn-delete btn-sm' ng-click="eventClickHapusFile(form.id, f.id)">
                                                    <span class='fa fa-times-circle'></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="eventClickCloseModal()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="eventClickSave(form.lampiran)">Save</button>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    $('#tanggalDokumen').datepicker({
        autoclose: true
    })
</script>