<style>
    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }

    .progress div {
        font-size: smaller;
        background: rgb(18, 189, 18);
        width: 0;
    }

    #back-to-top {
        /* position: fixed;
        bottom: 30px;
        right: 18px;
        cursor: pointer;
        transition: opacity 0.2s ease-out; */
        position: fixed;
        bottom: 30px;
        right: 18px;
        z-index: 9999;
        /* width: 32px;
        height: 32px;
        text-align: center;
        line-height: 30px; */
        background: #f5f5f5;
        color: #444;
        cursor: pointer;
        text-decoration: none;
        transition: opacity 0.2s ease-out;
        opacity: 0;
    }

    #back-to-top:hover {
        background: #e9ebec;
    }

    #back-to-top.show {
        opacity: 1;
    }

    .listDataYangDiminta {
        list-style: none;
        margin-bottom: 0px;
        background: #FFFFFF;
        position: absolute;
        z-index: 9;
        width: 95.6%;
        /* margin-left: 7px; */
        min-height: 10px;
        max-height: 120px;
        overflow: hidden;
        border: thin solid #d2d6de;
        /* overflow: hidden; */
        /* cursor: pointer; */
        overflow-y: scroll;
    }

    .listDataYangDiminta li {
        margin-left: -33px;
    }

    .listDataYangDiminta li:hover {
        background-color: #0085b8;
        width: 100%;
        color: white;
        cursor: pointer;
    }

    .listAlasan {
        list-style: none;
        margin-bottom: 0px;
        background: #FFFFFF;
        position: absolute;
        z-index: 9;
        width: 95.6%;
        min-height: 10px;
        max-height: 120px;
        overflow: hidden;
        border: thin solid #d2d6de;
        overflow-y: scroll;
    }

    .listAlasan li {
        margin-left: -33px;
    }

    .listAlasan li:hover {
        background-color: #0085b8;
        width: 100%;
        color: white;
        cursor: pointer;
    }

    .listInstansi {
        list-style: none;
        margin-bottom: 0px;
        background: #FFFFFF;
        position: absolute;
        z-index: 9;
        width: 95.6%;
        /* margin-left: 7px; */
        min-height: 10px;
        max-height: 120px;
        overflow: hidden;
        border: thin solid #d2d6de;
        /* overflow: hidden; */
        /* cursor: pointer; */
        overflow-y: scroll;
    }

    .listInstansi li {
        margin-left: -33px;
        /* cursor: pointer; */
    }

    .listInstansi li :hover {
        background-color: #0085b8;
        width: 100%;
        color: white;
        cursor: pointer;
    }
</style>
<section class="content-header">
    <h1>
        Daftar Keterbukaan Informasi Publik
        <!-- <small>advanced tables</small> -->
    </h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i> Home</li>
        <!-- <li><a href="#"></a></li> -->
        <li class="active">Daftar Keterbukaan Informasi Publik</li>
    </ol>
</section>
<section class="content">
    <div class="row" ng-show="!lapGratifikasi.isEditMode">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <!-- <h3 class="box-title">Table</h3> -->
                    <form class="form-inline pull-right">
                        <div class="form-group">
                            <label>Search</label>
                            <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-gcg">
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center">Instansi</th>
                                <th class="text-center">Nomor Surat</th>
                                <th class="text-center">Tanggal Surat</th>
                                <th class="text-center">Data yang Diminta</th>
                                <th class="text-center">Status Permintaan</th>
                                <th class="text-center">Tanggal Pemberian Data</th>
                                <th class="text-center">Alasan Tidak Memberikan Data</th>
                                <th class="text-center">Lampiran</th>
                                <th class="text-center" style="width: 147px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="item in listKip.data |filter:search|itemsPerPage:10">
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{item.instansi}}</td>
                                <td class="text-center">{{item.nomorSurat}}</td>
                                <td class="text-center">{{item.tanggalSurat}}</td>
                                <td class="text-center">{{item.dataYangDiminta}}</td>
                                <td class="text-center">{{item.statusPermintaan}}</td>
                                <td class="text-center">{{item.tanggalPemberianData}}</td>
                                <td class="text-center">{{item.alasanTidakMemberikanData}}</td>
                                <td class="text-center">
                                    <span class="fa fa-download" uib-tooltip="Download File" ng-click="eventClickGetFileUpload(item.id)" style="cursor: pointer;"></span>
                                </td>
                                <td class="text-center">
                                    <button type='button' class='btn btn-edit btn-sm' ng-click="eventClickEdit(item.id)">
                                        <span class='fa fa-pencil'></span> Edit
                                    </button>
                                    <button type='button' class='btn btn-delete btn-sm' ng-click="eventClickHapus(item.id)">
                                        <span class='fa fa-times-circle'></span> Hapus
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls class="pull-right" boundary-links="true" direction-links="true">
                    </dir-pagination-controls>
                    <div class="col-md-12 text-left">
                        <button data-toggle="modal" ng-click="eventClickAdd()" data-target="#myModal" type="button" class="btn btn-default btn-circle btn-lg" style="color : white;background: #2d4283; border-color: #2d4283;  box-shadow: 0px 0px 31px 6px rgba(0, 0, 0, 0.17);">
                            <i class="fa fa-plus faa-pulse animated"></i>
                        </button>
                    </div>

                    <button type="button" id="back-to-top" class="btn btn-default btn-circle btn-lg" style="color : white;background: #0085b8; border-color: #0085b8;  box-shadow: 0px 0px 31px 6px rgba(0, 0, 0, 0.17);">
                        <i class="fa fa-arrow-up"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="width: 80%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">
                        <b>Form Daftar KIP</b>
                    </h4>
                </div>
                <div class="modal-body" id="divModal">
                    <div class="form-horizontal" name="myForm">
                        <div class="form-group hideInstansi">
                            <label class="col-md-4 control-label">Unit</label>
                            <div class="col-md-8">
                                <input type="text" ng-hide="true" class="form-control" ng-model="form.id">
                                <input type="text" class="form-control" ng-model="form.unit" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label hideInstansi">Instansi</label>
                            <div class="col-md-8">
                                <input type="text" id="txtDari" name="form.instansi" ng-model="form.instansi" class="form-control" />
                                <!-- <ul class="listInstansi" style="display: none;" id="ulListData">
                                    <li ng-repeat="i in listInstansi | filter:form.instansi" class="liInstansi" ng-click="selectInstansi(i)">
                                        <p class="labelInstansi">{{i.instansi}}</p>
                                    </li>
                                </ul> -->

                            </div>
                        </div>
                        <div class="form-group hideInstansi">
                            <label class="col-md-4 control-label">Nomor Surat</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="form.nomorSurat">
                            </div>
                        </div>
                        <div class="form-group hideInstansi">
                            <label class="col-md-4 control-label">Tanggal Surat</label>
                            <div class="col-md-8">
                                <div class="input-group date">
                                    <div class="input-group-addon" ng-click="form.tglSurat.$$tglSuratOpened = true" style="cursor: pointer;">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <!-- <input type="text" class="form-control" id="tglSurat" ng-model="form.tglSurat"> -->
                                    <input type="text" class="form-control" datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" required="required" ng-required="true" ng-model="form.tglSurat" ng-init="form.tglSurat = form.tglSurat.toDate()" is-open="form.tglSurat.$$tglSuratOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" size="30" name="tglSurat" required/>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label hideInstansi">Data Yang Diminta</label>
                            <div class="col-md-8">
                                <input type="text" id="dataYangDiminta" name="form.dataYangDiminta" ng-model="form.dataYangDiminta" class="form-control" />
                                <ul class="listDataYangDiminta" style="display: none;">
                                    <li ng-repeat="u in listDataYangDiminta | filter:form.dataYangDiminta" class="liInstansi" ng-click="selectDataYangDiminta(u)">
                                        <p class="labelInstansi">{{u.keterangan}}</p>
                                    </li>
                                </ul>
                                <!-- <input type="text" class="form-control" ng-model="form.dataYangDiminta" uib-typeahead="item as item.keterangan for item in listDataYangDiminta | filter:{keterangan:$viewValue}"> -->
                            </div>
                        </div>
                        <div class="form-group hideInstansi">
                            <label class="col-md-4 control-label">Deskripsi/Keterangan</label>
                            <div class="col-md-8">
                                <textarea class="form-control" ng-model="form.deskripsi"></textarea>
                            </div>
                        </div>
                        <div class="form-group hideInstansi">
                            <label class="col-md-4 control-label">Status Permintaan</label>
                            <div class="col-md-8">
                                <input type="radio" name="statusPermintaan" ng-click="evenClickMemberikanData()" ng-model="form.statusPermintaan" value="Diberikan">Diberikan
                                <input type="radio" name="statusPermintaan" ng-click="evenClickTidakMemberikanData()" ng-model="form.statusPermintaan" value="Tidak Diberikan">Tidak Diberikan
                            </div>
                        </div>
                        <div class="form-group hideInstansi">
                            <label class="col-md-4 control-label">Tanggal Pemberian Data</label>
                            <div class="col-md-8">

                                <div class="input-group date">
                                    <div class="input-group-addon" ng-click="form.tglPemberianData.Opened = true" style="cursor: pointer;">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control" datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" required="required" ng-required="true" ng-model="form.tglPemberianData" ng-init="form.tglPemberianData = form.tglPemberianData.toDate()" is-open="form.tglPemberianData.Opened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" size="30" name="tglPemberianData" required/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="alasanTidakMemberikanData">
                            <label class="col-md-4 control-label hideInstansi">Alasan Tidak Memberikan Data</label>
                            <div class="col-md-8">
                                <input type="text" id="alasanTidakMemberikanData" name="form.alasanTidakMemberikanData" ng-model="form.alasanTidakMemberikanData" class="form-control" />
                                <!-- <ul class="listAlasan" style="display: none;">
                                    <li ng-repeat="a in listAlasan | filter:form.alasanTidakMemberikanData" class="liInstansi" ng-click="selectAlasan(a)">
                                        <p class="labelInstansi">{{a.alasan}}</p>
                                    </li>
                                </ul> -->
                            </div>
                        </div>
                        <div class="form-group hideInstansi">
                            <label class="col-md-4 control-label">Keterangan</label>
                            <div class="col-md-8">
                                <textarea class="form-control" ng-model="form.keterangan"></textarea>
                            </div>
                        </div>
                        <div class="form-group hideInstansi">
                            <label class="col-md-4 control-label">Lampiran</label>
                            <div class="col-md-8">
                                <div ng-show="modeAdd">
                                    <input type="file" ngf-select ng-model="form.file" name="file" accept="" ngf-max-size="50MB" required ngf-model-invalid="errorFile">
                                    <!-- <i ng-show="myForm.file.$error.required">*required</i>
                                    <br>
                                    <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 50M</i>
                                    <span class="progress" ng-show="form.file.progress >= 0">
                                        <div style="width:{{form.file.progress}}%" ng-bind="form.file.progress + '%'"></div>
                                    </span>
                                    <span ng-show="form.file.result">Upload Successful</span>
                                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span> -->
                                </div>
                                <div ng-show="modeEdit">
                                    <input type="file" ngf-select ng-model="form.file" name="file" accept="" ngf-max-size="50MB" required ngf-model-invalid="errorFile" ng-show="editFile">
                                    <table class="table">
                                        <tr ng-repeat="n in listFile">
                                            <td>
                                                <label id="fileEdit_">{{n.judulDokumen}}</label>
                                            </td>
                                            <td>
                                                <button type='button' class='btn btn-edit btn-sm' ng-click="showEditFile()">
                                                    <span class='fa fa-pencil'></span>
                                                </button>
                                                <button type='button' class='btn btn-delete btn-sm' ng-click="eventClickHapusFile(form.id, n.id)">
                                                    <span class='fa fa-times-circle'></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer hideInstansi">
                    <button type="button" class="btn btn-delete" data-dismiss="modal" ng-click="eventClickCloseModal()">Close</button>
                    <!-- <button type="button" class="btn btn-delete" ng-click="eventClickCloseModal()">Close Angularjs</button> -->
                    <button type="button" class="btn btn-save" ng-click="eventClickSave(form.file)">Save</button>
                </div>
            </div>

        </div>
    </div>
</section>
<script>
    $('#tglSurat').datepicker({
        autoclose: true
    })

    $('#tglPemberianData').datepicker({
        autoclose: true
    });

    if ($('#back-to-top').length) {
        var scrollTrigger = 100, // px 
            backToTop = function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > scrollTrigger) {
                    $('#back-to-top').addClass('show');
                } else {
                    $('#back-to-top').removeClass('show');
                }
            };
        backToTop();
        $(window).on('scroll', function () {
            backToTop();
        });
        $('#back-to-top').on('click', function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 700);
        });
    }

    // $('#divModal').click(function () {
    //     $(".listInstansi").hide(100);
    // })

    $("#txtDari").click(function () {
        $(".listInstansi").show(100);
    });

    $("#dataYangDiminta").click(function () {
        $(".listDataYangDiminta").show(100);
    });

    $("#alasanTidakMemberikanData").click(function () {
        $(".listAlasan").show(100);
    })

    $(".hideInstansi").click(function () {
        $(".listDataYangDiminta").hide(100);
        $(".listInstansi").hide(100);
        $(".listAlasan").hide(100);
    })
    // $("#txtDari").focusout(function () {

    //     console.log("txt");
    //     // $(".listInstansi").hide(100);
    // });
</script>