<div class="content Loading">
    <div>
        <p class="text-center">
            <img class="blink-image loading-position" src="./../images/loading.gif">
        </p>
    </div>
</div>

<div class="page-form">
    <section class="content-header">
        <h1>
            Penjualan Member
            <!-- <small>advanced tables</small> -->
        </h1>
    </section>
    <section class="content">
        <div class="box box-info">

            <!-- /.box-header -->
            <div class="box-header">
                <!-- <h3 class="box-title">Table</h3> -->
                <form class="form-inline pull-right">
                    <div class="form-group">
                        <label>Search</label>
                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                    </div>
                </form>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead class="bg-default">
                            <tr>
                                <th>No</th>
                                <th>Tanggal</th>
                                <th>No Invoice</th>
                                <th>ID Member</th>
                                <th>Nama Pembeli</th>
                                <th>Jumlah Barang</th>
                                <th>Status Bayar</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="item in listData |filter:search|itemsPerPage:pageSize" current-page="currentPage">
                                <td>{{$index + 1}}</td>
                                <td>{{item.tanggal}}</td>
                                <td>{{item.noInvoice}}</td>
                                <td>{{item.idMember}}</td>
                                <td>{{item.namaPembeli}}</td>
                                <td>{{item.jumlahBarang}}</td>
                                <td>{{item.statusBayar}}</td>
                                <td>
                                    <button type='button' class='btn btn-success btn-sm' style="border-radius:50%;" uib-tooltip="View Detail" data-toggle="modal" data-target="#myModalInvoice" data-backdrop="static" data-keyboard="false" ng-click="eventClickViewDetail(item.id)">
                                        <span class='fa fa-search'></span>
                                    </button>
                                    <button type='button' class='btn btn-primary btn-sm' style="border-radius:50%;" ng-hide="{{item.statusBayar == 'Sudah Bayar'}}" uib-tooltip="Edit" data-toggle="modal" data-target="#myModalUpdate" data-backdrop="static" data-keyboard="false" ng-click="eventClickEdit(item.id)">
                                        <span class='fa fa-pencil'></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls class="pull-right" boundary-links="true" direction-links="true">
                    </dir-pagination-controls>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <a href="" class="btn btn-sm btn-erlinski btn-flat pull-left" data-toggle="modal" ng-click="eventClickAdd()" data-target="#myModal" data-backdrop="static" data-keyboard="false">Tambah Data</a>
            </div>
            <!-- /.box-footer -->
        </div>

        <!-- Modal Form -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 90%">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <!-- <b>Tambah Master Menu</b> -->
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div ng-show="formTransaksi">
                            <form class="form-horizontal" name="myForm">
                                <div class="box box-info">

                                    <div class="box-header">
                                        <h3 class="box-title">Data Pembeli & Jumlah Barang</h3>
                                    </div>
                                    <div class="box-body">

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label class="control-label">Tanggal</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" disabled datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" required="required" ng-required="true" ng-model="form.tanggal" ng-init="user.input.tglAwalAktif = user.input.tglAwalAktif.toDate()" is-open="user.input.tglAwalAktif.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="user.input.tglAwalAktif.$$periodeAwalOpened = true">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">No Invoice</label>
                                                    <input type="text" class="form-control" ng-model="form.namaJenis" disabled placeholder="Txxxxxxxxxx">
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">ID Member</label>
                                                    <select class="form-control text-back" ng-model="form.idPembeli" ng-options="item as item.idMember for item in master.member track by item.id" ng-change="getBarangMember(form.idPembeli)">
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Nama</label>
                                                    <input type="text" class="form-control" ng-model="form.namaMember" disabled>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="box box-primary">

                                    <div class="box-header">
                                        <h3 class="box-title">Detail Barang</h3>
                                    </div>
                                    <div class="box-body">
                                        <label class="control-label">Pilih Barang</label>
                                        <select class="form-control text-back" ng-model="form.barcode" ng-options="item as item.namaBarang for item in master.barang" ng-change="getDetailBarang(form.barcode);">
                                        </select>

                                        <table class="table tabel-bordered" style="margin-top: 10px;">
                                            <thead class="bg-default">
                                                <tr>
                                                    <th>ID Barang</th>
                                                    <th>Nama Barang</th>
                                                    <th>Harga</th>
                                                    <th style="width: 10%;">Jumlah</th>
                                                    <th style="width: 10%;">Stok Tersedia</th>
                                                    <th style="width: 10%;">Total</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-init="total = 0">
                                                <tr ng-repeat="detail in master.detailBarang track by $index">
                                                    <td>{{detail.id}}</td>
                                                    <td>{{detail.namaBarang}}</td>
                                                    <td><input type="text" sg-number-input ng-model="detail.harga" class="form-control" ng-change=getTotal()></td>
                                                    <td><input type="number" ng-model="detail.jumlah" class="form-control" ng-change=getTotal()></td>
                                                    <td class="text-center">{{detail.stok}}</td>
                                                    <td>{{detail.jumlah == undefined ? 0 : detail.harga * detail.jumlah | number:"0"}}</td>
                                                    <td class="text-center">
                                                        <button type='button' class='btn btn-danger btn-sm' style="border-radius:50%;" uib-tooltip="Hapus" ng-click="hapusDetailBarang($index)">
                                                            <span class='fa fa-trash'></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>Total</b></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><b>{{total | number:"0"}}</b></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-success">

                                    <div class="box-header">
                                        <h3 class="box-title">&nbsp;</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-3">
                                            <label class="control-label">Ongkos Kirim</label>
                                            <input type="text" ng-model="form.ongkosKirim" required sg-number-input ng-disabled="master.detailBarang ==''" ng-change="totalByOngkir(form.ongkosKirim)" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Diskon</label>
                                            <input type="text" ng-model="form.diskon" required sg-number-input ng-disabled="master.detailBarang ==''" ng-change="totalByDiskon(form.diskon)" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Keterangan Diskon</label>
                                            <input type="text" ng-model="form.keteranganDiskon" required ng-disabled="master.detailBarang ==''" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Total Tagihan</label>
                                            <input type="text" ng-model="form.totalTagihan" sg-number-input ng-disabled="true" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Jasa Pengiriman</label>
                                            <!-- <input type="text" ng-model="form.jasaPengiriman" ng-disabled="master.detailBarang ==''" class="form-control"> -->
                                            <select class="form-control text-back" required ng-model="form.jasaKirim" ng-disabled="master.detailBarang ==''" ng-options="item.id as item.nama for item in master.jasaPengiriman">
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Status Pembayaran</label>
                                            <select class="form-control" ng-model="form.jenis" ng-change="getShowField(form.jenis)">
                                                <option value="">-</option>
                                                <option value="Sudah Bayar">Sudah Bayar</option>
                                                <option value="Belum Bayar">Belum Bayar</option>
                                            </select>
                                        </div>
                                        <div ng-show="showField">
                                            <div class="col-md-3">
                                                <label class="control-label">Tanggal Pembayaran</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" ng-model="form.tanggalBayar" ng-init="user.input.tglPembayaran = user.input.tglPembayaran.toDate()" is-open="user.input.tglPembayaran.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="user.input.tglPembayaran.$$periodeAwalOpened = true">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Bank</label>
                                                <select class="form-control text-back" ng-model="form.bank" ng-options="item.code as item.nama for item in master.bank">
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-show="viewTransaksi">
                            <form class="form-horizontal" name="myForm">
                                <div class="box box-info">

                                    <div class="box-header">
                                        <h3 class="box-title">Konfirmasi Data Pembeli & Jumlah Barang</h3>
                                    </div>
                                    <div class="box-body">

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <label class="control-label">Tanggal</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" disabled datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" required="required" ng-required="true" ng-model="form.tanggal" ng-init="user.input.tglAwalAktif = user.input.tglAwalAktif.toDate()" is-open="user.input.tglAwalAktif.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="user.input.tglAwalAktif.$$periodeAwalOpened = true">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">No Invoice</label>
                                                    <input type="text" class="form-control" ng-model="form.namaJenis" disabled placeholder="Txxxxxxxxxx">
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">ID Member</label>
                                                    <select class="form-control text-back" disabled ng-model="form.idPembeli" ng-options="item as item.idMember for item in master.member track by item.id" ng-change="getBarangMember(form.idPembeli)">
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Nama</label>
                                                    <input type="text" class="form-control" ng-model="form.namaMember" disabled>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                <div class="box box-primary">

                                    <div class="box-header">
                                        <h3 class="box-title">Detail Barang</h3>
                                    </div>
                                    <div class="box-body">
                                        <!-- <label class="control-label">Pilih Barang</label>
                                        <select class="form-control text-back" ng-model="form.barcode" ng-options="item as item.namaBarang for item in master.barang" ng-change="getDetailBarang(form.barcode);">
                                        </select> -->

                                        <table class="table tabel-bordered" style="margin-top: 10px;">
                                            <thead class="bg-default">
                                                <tr>
                                                    <th>ID Barang</th>
                                                    <th>Nama Barang</th>
                                                    <th>Harga</th>
                                                    <th style="width: 10%;">Jumlah</th>
                                                    <th style="width: 10%;">Stok Tersedia</th>
                                                    <th style="width: 10%;">Total</th>
                                                    <!-- <th class="text-center">Action</th> -->
                                                </tr>
                                            </thead>
                                            <tbody ng-init="total = 0">
                                                <tr ng-repeat="detail in master.detailBarang track by $index">
                                                    <td>{{detail.id}}</td>
                                                    <td>{{detail.namaBarang}}</td>
                                                    <td><input type="text" ng-disabled="true" sg-number-input ng-model="detail.harga" class="form-control" ng-change=getTotal()></td>
                                                    <td><input type="number" ng-disabled="true" ng-model="detail.jumlah" class="form-control" ng-change=getTotal()></td>
                                                    <td class="text-center">{{detail.stok}}</td>
                                                    <td>{{detail.jumlah == undefined ? 0 : detail.harga * detail.jumlah | number:"0"}}</td>
                                                    <!-- <td class="text-center">
                                                        <button type='button' class='btn btn-danger btn-sm' style="border-radius:50%;" uib-tooltip="Hapus" ng-click="hapusDetailBarang($index)">
                                                            <span class='fa fa-trash'></span>
                                                        </button>
                                                    </td> -->
                                                </tr>
                                                <tr>
                                                    <td><b>Total</b></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><b>{{total | number:"0"}}</b></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box box-success">

                                    <div class="box-header">
                                        <h3 class="box-title">&nbsp;</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-3">
                                            <label class="control-label">Ongkos Kirim</label>
                                            <input type="text" ng-model="form.ongkosKirim" disabled required sg-number-input ng-disabled="true" ng-change="totalByOngkir(form.ongkosKirim)" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Diskon</label>
                                            <input type="text" ng-model="form.diskon" disabled required sg-number-input ng-disabled="true" ng-change="totalByDiskon(form.diskon)" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Keterangan Diskon</label>
                                            <input type="text" ng-model="form.keteranganDiskon" disabled required ng-disabled="true" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Total Tagihan</label>
                                            <input type="text" ng-model="form.totalTagihan" sg-number-input ng-disabled="true" class="form-control">
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Jasa Pengiriman</label>
                                            <!-- <input type="text" ng-model="form.jasaPengiriman" ng-disabled="master.detailBarang ==''" class="form-control"> -->
                                            <select class="form-control text-back" required ng-model="form.jasaKirim" ng-disabled="true" ng-options="item.id as item.nama for item in master.jasaPengiriman">
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Status Pembayaran</label>
                                            <select class="form-control" ng-model="form.jenis" disabled ng-change="getShowField(form.jenis)">
                                                <option value="">-</option>
                                                <option value="Sudah Bayar">Sudah Bayar</option>
                                                <option value="Belum Bayar">Belum Bayar</option>
                                            </select>
                                        </div>
                                        <div ng-show="showField">
                                            <div class="col-md-3">
                                                <label class="control-label">Tanggal Pembayaran</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" disabled datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" ng-model="form.tanggalBayar" ng-init="user.input.tanggalBayar = user.input.tanggalBayar.toDate()" is-open="user.input.tanggalBayar.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="user.input.tanggalBayar.$$periodeAwalOpened = true">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Bank</label>
                                                <select class="form-control text-back" ng-model="form.bank" disabled ng-options="item.code as item.nama for item in master.bank">
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-delete" data-dismiss="modal" ng-click="eventClickCloseModal()">Close</button>
                        <button type="button" class="btn btn-save" ng-disabled="!myForm.$valid" ng-show="btnSave" ng-click="eventClickSave()">Save</button>
                        <button type="button" class="btn btn-delete" ng-show="btnCancel" ng-click="eventClickCancel()">Cancel</button>
                        <button type="button" class="btn btn-save" ng-disabled="!myForm.$valid" ng-show="btnUpdate" ng-click="eventClickSubmit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Update -->
        <div class="modal fade" id="myModalUpdate" role="dialog">
            <div class="modal-dialog" style="width: 90%">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">
                            <!-- <b>Tambah Master Menu</b> -->
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm">
                            <div class="box box-info">

                                <div class="box-header">
                                    <h3 class="box-title">Konfirmasi Data Pembeli & Jumlah Barang</h3>
                                </div>
                                <div class="box-body">

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <label class="control-label">Tanggal</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" disabled datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" required="required" ng-required="true" ng-model="form.tanggal" ng-init="user.input.tglAwalAktif = user.input.tglAwalAktif.toDate()" is-open="user.input.tglAwalAktif.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="user.input.tglAwalAktif.$$periodeAwalOpened = true">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">No Invoice</label>
                                                <input type="text" class="form-control" ng-model="form.id" ng-hide="true" placeholder="Txxxxxxxxxx">
                                                <input type="text" class="form-control" ng-model="form.noInvoice" disabled placeholder="Txxxxxxxxxx">
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">ID Member</label>
                                                <select class="form-control text-back" disabled ng-model="form.idPembeli" ng-options="item as item.idMember for item in master.member track by item.id" ng-change="getBarangMember(form.idPembeli)">
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label">Nama</label>
                                                <input type="text" class="form-control" ng-model="form.namaMember" disabled>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="box box-primary">

                                <div class="box-header">
                                    <h3 class="box-title">Detail Barang</h3>
                                </div>
                                <div class="box-body">
                                    <!-- <label class="control-label">Pilih Barang</label>
                                    <select class="form-control text-back" ng-model="form.barcode" ng-options="item as item.namaBarang for item in master.barang" ng-change="getDetailBarang(form.barcode);">
                                    </select> -->

                                    <table class="table tabel-bordered" style="margin-top: 10px;">
                                        <thead class="bg-default">
                                            <tr>
                                                <th>ID Barang</th>
                                                <th>Nama Barang</th>
                                                <th>Harga</th>
                                                <th style="width: 10%;">Jumlah</th>
                                                <!-- <th style="width: 10%;">Stok Tersedia</th> -->
                                                <th style="width: 10%;">Total</th>
                                                <!-- <th class="text-center">Action</th> -->
                                            </tr>
                                        </thead>
                                        <tbody ng-init="total = 0">
                                            <tr ng-repeat="detail in form.detailTransaksi track by $index">
                                                <td>{{detail.id}}</td>
                                                <td>{{detail.namaBarang}}</td>
                                                <td><input type="text" ng-disabled="true" sg-number-input ng-model="detail.harga" class="form-control" ng-change=getTotal()></td>
                                                <td><input type="number" ng-disabled="true" ng-model="detail.jumlah" class="form-control" ng-change=getTotal()></td>
                                                <!-- <td class="text-center">{{detail.stok}}</td> -->
                                                <td>{{detail.jumlah == undefined ? 0 : detail.harga * detail.jumlah | number:"0"}}</td>

                                            </tr>
                                            <!-- <tr>
                                                <td><b>Total</b></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><b>{{total | number:"0"}}</b></td>
                                                <td></td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box box-success">

                                <div class="box-header">
                                    <h3 class="box-title">&nbsp;</h3>
                                </div>
                                <div class="box-body">
                                    <div class="col-md-3">
                                        <label class="control-label">Ongkos Kirim</label>
                                        <input type="text" ng-model="form.ongkosKirim" disabled required sg-number-input ng-disabled="true" ng-change="totalByOngkir(form.ongkosKirim)" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Diskon</label>
                                        <input type="text" ng-model="form.diskon" disabled required sg-number-input ng-disabled="true" ng-change="totalByDiskon(form.diskon)" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Keterangan Diskon</label>
                                        <input type="text" ng-model="form.keteranganDiskon" disabled required ng-disabled="true" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Total Tagihan</label>
                                        <input type="text" ng-model="form.totalTagihan" sg-number-input ng-disabled="true" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Jasa Pengiriman</label>
                                        <!-- <input type="text" ng-model="form.jasaPengiriman" ng-disabled="master.detailBarang ==''" class="form-control"> -->
                                        <select class="form-control text-back" required ng-model="form.jasaKirim" ng-disabled="true" ng-options="item.id as item.nama for item in master.jasaPengiriman">
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Status Pembayaran</label>
                                        <select class="form-control" ng-model="form.jenis" ng-change="getShowField(form.jenis)">
                                            <option value="">-</option>
                                            <option value="Sudah Bayar">Sudah Bayar</option>
                                            <option value="Belum Bayar">Belum Bayar</option>
                                        </select>
                                    </div>
                                    <div ng-show="showField">
                                        <div class="col-md-3">
                                            <label class="control-label">Tanggal Pembayaran</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" ng-model="form.tanggalBayar" ng-init="user.input.tanggalBayarEdit = user.input.tanggalBayarEdit.toDate()" is-open="user.input.tanggalBayarEdit.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="user.input.tanggalBayarEdit.$$periodeAwalOpened = true">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label">Bank</label>
                                            <select class="form-control text-back" ng-model="form.bank" ng-options="item.code as item.nama for item in master.bank">
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-delete" data-dismiss="modal" ng-click="eventClickCloseModal()">Close</button>
                        <button type="button" class="btn btn-save" ng-disabled="!myForm.$valid" ng-click="eventClickUpdate()">Update</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="myModalInvoice" role="dialog">
            <div class="modal-dialog" style="width: 90%">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <h4 class="modal-title">
                            <!-- <b>Form Input Master Reward</b> -->
                        </h4>
                    </div>
                    <div class="modal-body">
                        <section class="invoice">
                            <div id="exportPDF">
                                <!-- title row -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h2 class="page-header">
                                            <i class="fa fa-globe"></i> Erlinski Skincare
                                            <small class="pull-right">Tanggal: {{viewForm.tanggal | date:"dd-MM-yyyy"}}</small>
                                        </h2>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- info row -->
                                <div class="row invoice-info">
                                    <div class="col-sm-4 invoice-col">
                                        Penjual
                                        <address>
                                            <strong>{{currentUser.namaLengkap}}</strong><br>
                                            {{currentUser.alamat}} <br>
                                            <!-- Babakan, Kec. Dramaga, Bogor, Jawa Barat 16680<br> -->
                                            Telepon: {{currentUser.noHandphone}}<br>
                                            Email: {{currentUser.email}}
                                        </address>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 invoice-col">
                                        Customer
                                        <address>
                                            <strong>{{viewForm.idPembeli.namaLengkap}}</strong><br>
                                            {{viewForm.idPembeli.alamatPengiriman}}<br>
                                            Email: {{viewForm.idPembeli.email}}
                                        </address>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 invoice-col">
                                        <b>Invoice : {{viewForm.noInvoice}} </b><br>
                                        <br>
                                        <b>Status Pembayaran:</b> {{viewForm.jenis}}<br>
                                        <b>Tanggal Pembayaran:</b> {{viewForm.tanggalBayar == null ?'': viewForm.tanggalBayar | date:'dd-MM-yyyy'}}<br>
                                        <b>Bank Transfer:</b>{{viewForm.namaBank}}
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <!-- Table row -->
                                <div class="row">
                                    <div class="col-xs-12 table-responsive">
                                        <table class="table tabel-bordered" style="margin-top: 10px;">
                                            <thead class="bg-default">
                                                <tr>
                                                    <th>ID Barang</th>
                                                    <th>Nama Barang</th>
                                                    <th>Harga</th>
                                                    <th style="width: 10%;">Jumlah</th>
                                                    <th style="width: 10%;">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-init="total = 0">
                                                <tr ng-repeat="detail in viewForm.detailTransaksi track by $index">
                                                    <td>{{detail.id}}</td>
                                                    <td>{{detail.namaBarang}}</td>
                                                    <td>{{detail.harga | number:"0"}}</td>
                                                    <td>{{detail.jumlah}}</td>
                                                    <td>{{detail.jumlah == undefined ? 0 : detail.harga * detail.jumlah | number:"0"}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <div class="row">
                                    <!-- accepted payments column -->
                                    <div class="col-xs-6">

                                        &nbsp;
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-6">
                                        <p class="lead">Rincian Tagihan:</p>

                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th style="width:50%">Ongkos Kirim:</th>
                                                        <td>Rp. {{viewForm.ongkosKirim | number:"0"}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Diskon</th>
                                                        <td>Rp. {{viewForm.diskon | number:"0"}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Total Tagihan</th>
                                                        <td>Rp. {{viewForm.totalTagihan | number:"0"}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                            </div>
                        </section>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="eventClickCloseModal()">Close</button>
                        <button type="button" class="btn btn-save" ng-click="generatePDF()"><i class="fa fa-download"></i> Export PDF</button>
                        <!-- <button type="button" class="btn btn-save" ng-disabled="!myForm.$valid" ng-show="btnUpdate" ng-click="eventClickUpdate(form.file)">Update</button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script>
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }


    // var rupiah = document.getElementById("rupiah");
    // rupiah.addEventListener("keyup", function (e) {
    //     // tambahkan 'Rp.' pada saat form di ketik
    //     // gunakan fungsi formatRupiah() untuk mengubah angka yang di ketik menjadi format angka
    //     rupiah.value = formatRupiah(this.value, "");
    // });

    // /* Fungsi formatRupiah */
    // function formatRupiah(angka, prefix) {
    //     var number_string = angka.replace(/[^,\d]/g, "").toString(),
    //         split = number_string.split(","),
    //         sisa = split[0].length % 3,
    //         rupiah = split[0].substr(0, sisa),
    //         ribuan = split[0].substr(sisa).match(/\d{3}/gi);

    //     // tambahkan titik jika yang di input sudah menjadi angka ribuan
    //     if (ribuan) {
    //         separator = sisa ? "." : "";
    //         rupiah += separator + ribuan.join(".");
    //     }

    //     rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
    //     return prefix == undefined ? rupiah : rupiah ? "" + rupiah : "";
    // }
</script>