<style>
    .w3-card-4,
    .w3-hover-shadow:hover {
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        height: 150px;
        background: linear-gradient(to right, #ed4534, #f5af19);
    }

    .w3-container,
    .w3-panel {
        padding: 0.01em 16px
    }

    .w3-panel {
        margin-top: 16px;
        margin-bottom: 16px
    }

    .w3-left {
        float: left !important;
    }

    .w3-margin-right {
        margin-right: 16px !important;
    }

    .w3-circle {
        border-radius: 50%;
    }
</style>
<div class="content Loading">
    <div>
        <p class="text-center">
            <img class="blink-image loading-position" src="./../images/loading.gif">
        </p>
    </div>
</div>

<div class="page-form">
    <section class="content">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="./../images/avatar-01.jpg" alt="User profile picture">

                        <h3 class="profile-username text-center">Joni Andreas</h3>

                        <p class="text-muted text-center">Agen</p>

                        <div class="w3-card-4">
                            <!-- <header class="w3-container w3-light-grey">
                                <h3>John Doe</h3>
                            </header> -->
                            <div class="w3-container" style="padding-top:20px;">
                                <p class="text-center"><b>Member Card Erlinski</b></p>
                                <hr>
                                <!-- <img src="./../images/avatar-01.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px"> -->
                                <p>Joni Andreas</p>
                                <p>01 Januari 2020</p>
                            </div>
                            <!-- <button class="w3-button w3-block w3-dark-grey">+ Connect</button> -->
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1">Profile</a></li>
                        <li class=""><a href="#tab2">Change Password</a></li>
                        <!-- <li><a href="#settings" data-toggle="tab">Settings</a></li> -->
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="tab1" ng-show="!profile.tab2">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Nama Lengkap</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputName" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Alamat</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Provinsi</label>
                                    <div class="col-sm-10">
                                        <select class="form-control text-back" ng-model="form.provinsi" disabled ng-options="item as item.name for item in lapGratifikasi.master.provinsi track by item.code" ng-change="getKabupatenRumah(formLapGratifikasi.identitasPelapor.provinsiRumah.code);">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kab/Kota</label>
                                    <div class="col-sm-10">
                                        <select class="form-control text-back" ng-model="form.kota" disabled ng-options="item as item.name for item in lapGratifikasi.master.kotaRumah track by item.code" ng-change="getKecamatanRumah(formLapGratifikasi.identitasPelapor.kotaRumah.code);">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kecamatan</label>
                                    <div class="col-sm-10">
                                        <select class="form-control text-back" ng-model="form.kecamatan" disabled ng-options="item as item.name for item in lapGratifikasi.master.kecamatanRumah track by item.code" ng-change="getKelurahanRumah(formLapGratifikasi.identitasPelapor.kecamatanRumah.code);">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kel/Desa</label>
                                    <div class="col-sm-10">
                                        <select class="form-control text-back" ng-model="form.desa" disabled ng-options="item as item.name for item in lapGratifikasi.master.desaRumah track by item.code" ng-change="getKodePosRumah(formLapGratifikasi.identitasPelapor.desaRumah.code);">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Kode Pos</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control text-back" disabled onkeypress="return isNumber(event)" ng-model="form.kodePos">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">No Rekening</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control text-back" disabled onkeypress="return isNumber(event)" ng-model="form.noRekening" name="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Bank</label>
                                    <div class="col-sm-10">
                                        <select class="form-control text-back" ng-model="form.namaBank" disabled ng-options="item as item.name for item in lapGratifikasi.master.desaRumah track by item.code" ng-change="getKodePosRumah(formLapGratifikasi.identitasPelapor.desaRumah.code);">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">No Telepon</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control text-back" disabled onkeypress="return isNumber(event)" ng-model="form.noTelepon" name="">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="tab2" ng-show="!profile.tab2">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Old Password</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputName" placeholder="Masukkan Password Lama Anda">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-sm-2 control-label">New Password</label>

                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="Masukkan Password Baru Anda">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Confirm Password</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputName" placeholder="Ketik Ulang Password Baru Anda">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">&nbsp;</label>

                                    <div class="col-sm-10">
                                        <button class="btn btn-erlinski">Submit</button>
                                        <button class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
</div>


<script>
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }


    $('.nav-tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    $('.nav-pills a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
</script>