<section class="content-header">
    <h1>
        Report Total Counting
        <!-- <small>advanced tables</small> -->
    </h1>
</section>
<section class="content">
    <div class="box box-info">

        <!-- /.box-header -->
        <div class="box-header">
            <!-- <h3 class="box-title">Table</h3> -->
            <form class="form-inline">
                <div class="form-group">
                    <label>Start Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" required="required" ng-required="true" ng-model="form.tglBergabung" ng-init="user.input.tglAwalAktif = user.input.tglAwalAktif.toDate()" is-open="user.input.tglAwalAktif.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="user.input.tglAwalAktif.$$periodeAwalOpened = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" required="required" ng-required="true" ng-model="form.tglBergabung" ng-init="user.input.tglAwalAktif = user.input.tglAwalAktif.toDate()" is-open="user.input.tglAwalAktif.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="user.input.tglAwalAktif.$$periodeAwalOpened = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <div class="input-group">
                        <select class="form-control" ng-model="status" required ng-options="item.status for item in master.status"></select>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" uib-tooltip="Export Excel" ng-click="exportToExcel('#tableToExport')"><span class="fa fa-file-excel-o"></span></button>
                </div>
                <div class="form-group" style="float: right;">
                    <label>Search</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
        <div class="box-body" id="tableToExport">
            <div class="table-responsive">
                <table class="table no-margin">
                    <thead>
                        <tr class="bg-primary">
                            <th>No</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Jumlah Kedatangan</th>
                            <th>Vendor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in listData">
                            <td>{{$index + 1}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.status}}A</td>
                            <td>
                                {{item.jumlahKedatangan}}
                            </td>
                            <td>
                                {{item.vendor}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <dir-pagination-controls class="pull-right" boundary-links="true" direction-links="true">
                </dir-pagination-controls>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
    </div>
</section>