<section class="content-header">
    <h1>
        Report Riwayat Penjualan
        <!-- <small>advanced tables</small> -->
    </h1>
</section>
<section class="content">
    <div class="box box-info">

        <!-- /.box-header -->
        <div class="box-header">
            <!-- <h3 class="box-title">Table</h3> -->
            <form class="form-inline">
                <div class="form-group">
                    <label>Start Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" ng-model="startDate" ng-init="user.input.startDate = user.input.startDate.toDate()" is-open="user.input.startDate.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="user.input.startDate.$$periodeAwalOpened = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>End Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-localdate uib-datepicker-popup="dd/MM/yyyy" ng-model="endDate" ng-init="user.input.endDate = user.input.endDate.toDate()" is-open="user.input.endDate.$$periodeAwalOpened" close-text="Close" alt-input-formats="['dd/MM//yyyy']" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="user.input.endDate.$$periodeAwalOpened = true">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger" ng-disabled="startDate==null && endDate==null" uib-tooltip="Search By Date" ng-click="searchByDate(startDate, endDate)"><span class="fa fa-search"></span></button>
                    <button class="btn btn-success" uib-tooltip="Export Excel" ng-click="exportToExcel('#tableToExport')"><span class="fa fa-file-excel-o"></span></button>
                </div>
                <div class="form-group" style="float: right;">
                    <label>Search</label>
                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
        <div class="box-body">
            <div id="container">
            </div>
            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{totalPenjualan}}</h3>

                        <p>Total Penjualan</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <!-- <a href="#" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a> -->
                </div>
            </div>

            <div class="col-lg-6 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{totalProduk}}</h3>

                        <p>Total Produk</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <!-- <a href="#" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-md-12" id="tableToExport">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr class="bg-default">
                                <th>No</th>
                                <th>Tanggal</th>
                                <th>No. Invoice</th>
                                <th>Nama Pembeli</th>
                                <th>Nama Penjual</th>
                                <th>Jumlah Barang</th>
                                <th>Status Bayar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in listData  |filter:search">
                                <td>{{$index+1}}</td>
                                <td>{{item.tanggal}}</td>
                                <td>{{item.noInvoice}}</td>
                                <td>
                                    {{item.namaPembeli}}
                                </td>
                                <td>
                                    {{item.namaPenjual}}
                                </td>
                                <td>
                                    {{item.jumlahBarang}}
                                </td>
                                <td>
                                    {{item.statusBayar}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <dir-pagination-controls class="pull-right" boundary-links="true" direction-links="true">
                    </dir-pagination-controls> -->
                </div>
                <!-- /.table-responsive -->
            </div>

        </div>
        <!-- /.box-body -->
    </div>
</section>