<div class="content Loading">
    <div>
        <p class="text-center">
            <img class="blink-image loading-position" src="./../images/loading.gif">
        </p>
    </div>
</div>

<div class="page-form">
    <!-- <section class="content-header">
        <h1>
            Update New Password
           
        </h1>
    </section> -->
    <section class="content">
        <!-- Modal Form -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="width: 50%">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <h3 class="modal-title">Update Password</h3>
                    </div>
                    <div class="modal-body">
                        <div class="box box-info">

                            <div class="box-header">

                            </div>
                            <div class="box-body">
                                <form class="form-horizontal" name="myForm">
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Username</label>

                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" ng-model="form.username" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-sm-2 control-label">New Password</label>

                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" ng-model="form.newPassword" required placeholder="Masukkan Password Baru Anda">
                                            <i style="color: red;">*Input Password Minimal 8 karakter</i>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Confirm Password</label>

                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" ng-model="form.confirmPassword" required minlength="8" placeholder="Ketik Ulang Password Baru Anda">
                                            <i style="color: red;">*Input New Password Minimal 8 karakter</i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-erlinski" ng-click="submit()" ng-disabled="!myForm.$valid">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>