<!DOCTYPE html>
<html lang="en">

<head>
	<title>Erlinski Apps</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<!-- <link rel="icon" type="image/png" href="images/icons/Unilever.ico" /> -->
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<!-- Sweet Alert CSS -->
	<link rel="stylesheet" href="./plugins/sweet-alert/sweetalert.css">
	<!--===============================================================================================-->
</head>

<body>
	<style>
		.background-login {
			background: #ed4534;
			/* fallback for old browsers */
			background: -webkit-linear-gradient(to right, #ed4534, #f5af19);
			/* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #ed4534, #f5af19);
			/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


		}
	</style>
	<section ng-app="loginApp" ng-controller="loginCtrl">
		<div class="limiter">
			<div class="container-login100 background-login">
				<div class="wrap-login100 p-t-190 p-b-30">
					<form class="login100-form validate-form" style="margin-top: -155px;">
						<!-- <div class="wrap-input100 img-responsive">
							<img src="./images/Unilever.png" alt="" class="text-center" style="display: block;
							margin-left: auto;
							margin-right: auto;
							width: 50%;">
						</div> -->

						<span class="login100-form-title p-t-20 p-b-45">
							Selamat Datang Di Erlinski Member Area
						</span>

						<div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
							<input class="input100" ng-model="username" type="text" name="username" placeholder="Username">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-user"></i>
							</span>
						</div>

						<div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
							<input class="input100" ng-model="password" type="password" name="pass" placeholder="Password">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock"></i>
							</span>
						</div>

						<div class="container-login100-form-btn p-t-10">
							<button class="login100-form-btn" ng-click="loginClick()">
								Login
							</button>
							<a href="" style="color: black;
							font-size: 16px;
							font-weight: bold;" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false">Forgot Password?</a>
						</div>

					</form>

				</div>
			</div>
		</div>



		<div class=" modal fade" id="myModal" role="dialog">
			<div class="modal-dialog" style="width: 90%">
				<!-- Modal content-->
				<div class="modal-content">
					<!-- <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							<b>Resgiter Menu</b>
						</h4>
					</div> -->
					<div class="modal-body" style="color: #ed4534;">
						<form class="form-horizontal" name="myFormEmail">
							<div class="col-md-12">
								<div class="form-group">
									<label for="inputName" class="col-md-12 control-label">Masukan Email Anda</label>

									<div class="col-md-12">
										<input type="email" required class="form-control" ng-model="send.email">
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" ng-click="cancelReset()">Cancel</button>
						<button type="button" class="btn btn-warning" ng-disabled="!myFormEmail.$valid" ng-click="getResetPass()">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<!-- Angular JS -->
	<script src="plugins/angular-js/angular.min.js"></script>
	<script src="plugins/angular-js/angular-route.min.js"></script>
	<script src="plugins/angular-js/angular-animate.min.js"></script>
	<script src="plugins/angular-js/angular-sanitize.min.js"></script>
	<script src="plugins/angular-js/angular-cookies.min.js"></script>

	<!-- Angular Loading Bar -->
	<script src="plugins/loader/nprogress.js"></script>
	<link href="plugins/loader/nprogress.css" rel='stylesheet' />
	<!-- Sweet Alert -->
	<script src="./node_modules/sweetalert/dist/sweetalert.min.js"></script>

	<script type="text/javascript">
		var app = angular.module('loginApp', ['ngCookies', 'ngSanitize']);

		app.controller('loginCtrl', function ($scope, $http, $rootScope, $cookies) {

			$scope.isValidLogin = true;
			$scope.loginClick = function () {

				// var apiUrl = "http://localhost/api-canteen/index.php/api/user/login";
				var apiUrl = "https://api.myerlinski.com/member/login";
				var data = {
					username: $scope.username,
					password: $scope.password

				};
				console.log(JSON.stringify(data));
				$http.post(apiUrl, data).success(function (response) {
						console.log(JSON.stringify(response.data));

						if (response.data.message == "Not Found") {
							$scope.isValidLogin = false;
							swal("Member Belum Terdaftar !!!", {
								icon: "warning",
							});
							console.log("1");

							// NProgress.done();
						} else if (response.data.message == "Login Failed") {
							$scope.isValidLogin = false;
							swal("Username & Password Anda Salah !!!", {
								icon: "warning",
							});
						} else {
							console.log("2");
							$cookies.put('currentUser', JSON.stringify(response.data));
							$scope.currentUser = JSON.parse($cookies.get('currentUser'));

							if ($scope.currentUser.userIsNew == "0") {
								document.location.href = "index.html#/home";
							} else {
								document.location.href = "index.html#/updatePassword";
							}

							console.log($scope.currentUser);
						}
					})
					.error(function (response, code) {
						NProgress.done();
						alert('Terjadi kesalahan saat proses Sign In. ' + response.ExceptionMessage);
						console.log("error : " + JSON.stringify(response));
					});
			};

			$scope.getResetPass = () => {
				// $scope.send = email;
				console.log($scope.send.email);
				var apiUrl = "https://api.myerlinski.com/member/resetPassword";
				$scope.data = {
					username: $scope.send.email
				}

				$http.post(apiUrl, $scope.data).then(function (response) {
					// console.log(JSON.stringify(response));
					$scope.statusEmail = response.data.data.message;
					// console.log(JSON.stringify($scope.statusEmail));

					if ($scope.statusEmail == "Not Found") {
						swal("Email Tidak Terdaftar !!!", {
							icon: "info",
						});

						$('#myModal').modal('hide');
						$scope.send.email = "";
					} else {
						swal("Silahkan Cek Email Anda", {
							icon: "success",
						});

						$('#myModal').modal('hide');
						$scope.send.email = "";
					}

				})
			}

			$scope.cancelReset = () => {
				$('#myModal').modal('hide');
				$scope.send.email = "";
			}
		});
	</script>
</body>

</html>