<!DOCTYPE html>
<html lang="en">

<head>
	<title>Indonesia Power</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-color: aliceblue">
			<div class="wrap-login100 p-t-190 p-b-30" ng-app="loginApp" ng-controller="loginCtrl">
				<form class="login100-form validate-form" style="margin-top: -155px;">
					<div class="wrap-input100 img-responsive">
						<!-- <img src="" alt="" class="text-center" style="width: 100%"> -->
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Counting Kantin
					</span>

					<div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
						<input class="input100" ng-model="email" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
						<input class="input100" ng-model="password" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn" ng-click="loginClick()">
							Login
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

	<!-- Angular JS -->
	<script src="plugins/angular-js/angular.min.js"></script>
	<script src="plugins/angular-js/angular-route.min.js"></script>
	<script src="plugins/angular-js/angular-animate.min.js"></script>
	<script src="plugins/angular-js/angular-sanitize.min.js"></script>
	<script src="plugins/angular-js/angular-cookies.min.js"></script>

	<!-- Angular Loading Bar -->
	<script src="plugins/loader/nprogress.js"></script>
	<link href="plugins/loader/nprogress.css" rel='stylesheet' />


	<script type="text/javascript">
		var app = angular.module('loginApp', ['ngCookies', 'ngSanitize']);

		app.controller('loginCtrl', function ($scope, $http, $rootScope, $cookies) {

			$scope.isValidLogin = true;
			$scope.loginClick = function () {
				NProgress.start();

				// var apiUrl = "localhost";
				var apiUrl = "";
				$scope.loginAs = "Indonesia Power";
				var data = {
					username: $scope.email,
					password: $scope.password,
					loginAs: $scope.loginAs
				};
				document.location.href = "index.html#/home";
				// console.log(JSON.stringify(data));
				// $http.post(apiUrl, data).success(function (response) {
				// 		console.log(JSON.stringify(response));

				// 		if (response.employeeNumber == null && response.name == null) {
				// 			$scope.isValidLogin = false;
				// 			NProgress.done();
				// 		} else {
				// 			$cookies.put('currentUser', JSON.stringify(response));
				// 			$scope.currentUser = JSON.parse($cookies.get('currentUser'));
				// 			NProgress.done();
				// 			document.location.href = "index.html#/home";
				// 			console.log(currentUser.name);
				// 		}
				// 	})
				// 	.error(function (response, code) {
				// 		NProgress.done();
				// 		alert('Terjadi kesalahan saat proses Sign In. ' + response.ExceptionMessage);
				// 		console.log("error : " + JSON.stringify(response));
				// 	});
			};
		});
	</script>
</body>

</html>