<style>
    .thumb {
        width: 24px;
        height: 24px;
        float: none;
        position: relative;
        top: 7px;
    }

    form .progress {
        line-height: 15px;
    }

    .progress {
        display: inline-block;
        width: 100px;
        border: 3px groove #CCC;
    }

    .progress div {
        font-size: smaller;
        background: orange;
        width: 0;
    }
</style>

<body ng-app="fileUpload" ng-controller="MyCtrl">
    <h4>Upload on file select</h4>

    <button ngf-select="uploadFiles($files)" multiple accept="image/*">Select Files</button>
    <input type="text" ng-model="username">
    <input type="text" ng-model="password">
    <input type="text" ng-model="nama">
    <br>
    <br>Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">
            {{f.name}}
        </li>
    </ul>
    <span class="progress" ng-show="progress >= 0">
        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
    </span>
    {{errorMsg}}
    <br>
    <button class="btn btn-primary" ng-click="test()">Testing</button>
</body>
<!-- Angular JS -->
<script src="plugins/angular-js/angular.min.js"></script>
<script src="plugins/angular-js/angular-route.min.js"></script>
<script src="plugins/angular-js/angular-animate.min.js"></script>
<script src="plugins/angular-js/angular-sanitize.min.js"></script>
<script src="plugins/angular-js/angular-cookies.min.js"></script>

<!-- Angular Ng-Upload -->
<script src="plugins/angular-upload/ng-file-upload-shim.min.js"></script>
<script src="plugins/angular-upload/ng-file-upload.min.js"></script>

<script type="text/javascript">
    //inject angular file upload directives and services. 
    var app = angular.module('fileUpload', ['ngFileUpload']);
    app.controller('MyCtrl', ['$scope', 'Upload', '$timeout', function ($scope, Upload, $timeout) {
        $scope.uploadFiles = function (files) {
            $scope.files = files;
            if (files && files.length) {
                Upload.upload({
                    url: 'https://angular-file-upload-cors-srv.appspot.com/upload',
                    data: {
                        username: $scope.username,
                        password: $scope.password,
                        nama: $scope.nama,
                        files: files
                    }
                }).then(function (response) {
                    $timeout(function () {
                        $scope.result = response.data;
                        // console.log(JSON.stringify($scope.result));
                    });
                    console.log("1");
                    console.log(JSON.stringify(response.data));
                }, function (response) {
                    if (response.status > 0) {
                        $scope.errorMsg = response.status + ': ' + response.data;
                    }
                    console.log("2");
                }, function (evt) {
                    $scope.progress = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
                    console.log("3");
                });
            }
        };

        $scope.test = function () {
            alert("test");
        }
    }]);
</script>